.SearchEngine h1 {
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    color: rgb(236, 110, 76);
    margin: 0 auto;
  }
  
  .SearchEngine h2 {
    font-size: 15px;
    line-height: 24px;
    color: #212529de;
    margin: 0 auto;
  }
  

 .SearchEngine .today-weather,
 .form-control,
 .go-button {
  background: rgb(255, 255, 255);
  border: 0px solid rgb(221, 221, 221);
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(236, 110, 76, 0.594);
}

.SearchEngine .today-description {
    font-size: 19px;
    line-height: 19px;
    position: relative;
    top: 5px;
}

.SearchEngine .today-details {
    color: #212529de;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  top: 12px;
}


.SearchEngine .today-weather {
    margin: 20px auto 0;
    padding: 20px 20px;
  }

.SearchEngine .today-icon {
    position: relative;
    top: -10px;
    right: -20px;
    width: 100px;
}

.SearchEngine .today-temp {
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
    position: relative;
    top: 15px;
}

.SearchEngine .units {
    position: relative;
    font-size: 18px;
    top: 2px;
    color: rgb(73, 73, 73);
}

.SearchEngine .weather-data {
  margin-top: 10px;
}