h1 {
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    color: rgb(236, 110, 76);
    margin: 0 auto;
  }
  
  h2 {
    font-size: 15px;
    line-height: 24px;
    color: #212529de;
    margin: 0 auto;
  }
  
 